@import "~bootstrap/dist/css/bootstrap.css";
@import "~antd/dist/antd.css";

$canvasHeight: 50vh;

#canvas {
  position: relative;
  z-index: 10;
  height: $canvasHeight;
  width: 75%;
  canvas {
    width: 100%;
    height: 100%;
  }
}

#app {
  position: relative;
  z-index: 5;
  main {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    .container-fluid {
      .sidebar {
        background: #ecf0f1;
        height: 100vh;
        //color: #fff;
      }
    }
  }
}

.no-padding {
  padding: 0;
}

@import "timeline";