.bottombar {
  background: #bdc3c7;
  margin-top: $canvasHeight;
  height: 100vh - $canvasHeight;
  padding: 5px;

  .timeline {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 40px);
    overflow-y: scroll;

    .scroll-y {
      .controls {
        display: inline-block;
        height: 100%;
        width: 100%;
        margin-top: 40px;

        .scene-item {
          margin: 5px 0;
          width: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, .2);
        }
        .children {
          padding-left: 10px;
        }
      }
      .svg {
        position: fixed;
        .bg-rect {
          fill: transparent;
        }
        .line-time {
          stroke: #e74c3c;
        }
      }
      .time-editor {
        position: absolute;
        z-index: 10;
        top: 40px;
        padding: 0 5px;
        .brush {
          .time-rect {
            margin: 5px 0;
            background: #34495e;
          }
          .handle {
            position: absolute;
            cursor: ew-resize;
            background: #000;
          }
        }
      }
    }
  }
}