.bottombar {
  background: #bdc3c7;
  margin-top: $canvasHeight;
  height: 100vh - $canvasHeight;
  padding: 5px;

  .timeline {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 40px);
    overflow-y: scroll;

    .scroll-y {
      .controls {
        display: inline-block;
        height: 100%;
      }
      .svg {
        display: inline-block;
        svg {
          .line-time {
            stroke: #e74c3c;
          }
        }
      }
    }
  }
}